<div class="container">

  <header class="row">
    <div class="identity col-sm-12 col-md-5 col-lg-5">
      <div class="row">
        <div class="idtexte col-sm-7">
          <h1>Guillaume Manier</h1>
          <h6>Mobile & Web Developper</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
            <span class="sr-only">45% Complete</span>
            </div>
          </div>
          <p>(junior)</p>
        </div>

        <div class="idpic col-sm-3">
          <img src="/img/moi.jpg" alt="Guillaume Manier" class="img-circle img-responsive"/>
        </div>
      </div>
    </div>
    <div class="followme col-sm-12 col-md-5 col-lg-5">
      <p class="iconsfollow">
        <i class="fa fa-align-left"></i>
        <i class="fa fa-align-left"></i>
        <i class="fa fa-align-left"></i>
        <i class="fa fa-align-left"></i>
      </p>
    </div>
    <div class="getinfos col-sm-12 col-md-5 col-lg-5">
      <div class="row">
        <div class="subscribe col-sm-6">
          <h3>Subscribe</h3>
        </div>

        <div class="getcv col-sm-6">
          <h3>Get my CV</h3>

        </div>
      </div>
    </div>
  </header>







































</div>
