<div class="container">

  <header class="row">
    <div class="identity col-sm-12 col-md-5 col-lg-5">
      <div class="row">
        <div class="idtexte col-sm-7">
          <h1>Guillaume Manier</h1>
          <h5 class="text-center">Mobile & Web Developper</h6>
          <div class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
            <span class="sr-only">70% Complete</span>
            </div>
          </div>
          <p class="grade text-center">(junior)</p>
        </div>

        <div class="idpic col-sm-3">
          <img src="/img/moi.jpg" alt="Guillaume Manier" class="img-circle img-responsive"/>
        </div>
      </div>
    </div>
    <div class="followme col-sm-4 col-md-3 col-lg-3">
      <h3>Follow me</h3>
      <p class="iconsfollow text-center">
        <i class="fa fa-facebook-square fa-3x"></i>
        <i class="fa fa-twitter-square fa-3x"></i>
        <i class="fa fa-github-square fa-3x"></i>
        <i class="fa fa-linkedin-square fa-3x"></i>
      </p>
    </div>
    <div class="getinfos col-sm-12 col-md-4 col-lg-4">
      <div class="row">
        <div class="subscribe col-sm-6">
          <h3>Subscribe</h3>
          <p class="text-center">
            <button type="button" name="button"><i class="fa fa-envelope-o fa-3x"></i> Newsletter</button>
          </p>
        </div>

        <div class="getcv col-sm-6">
          <h3>Get my CV</h3>
          <p class="cvbtns text-center">
            <button type="button" name="button"class="cvseebtn">
              <i class="fa fa-eye fa-3x"></i>
            </button>
            <button type="button" name="button" class="cvdlbtn">
              <i class="fa fa-download fa-3x"></i>
            </button>
        </p>

        </div>
      </div>
    </div>
  </header>







































</div>
